*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccionUsuario {
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#divFoto {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#divFoto img {
    width: 150px;
}

#divFoto input {
    width: 100%;
    display: inline-block;
    background-color: aqua;
}

#divFoto button {
    display: inline-block;
    width: 100%;
}

#divUsuario {
    width: 200px;
    text-align: center;
}
