<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Inove Blog</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <label for="usuario">Usuario de inove:</label>
    <input id="usuario" type="text" value="diego" placeholder="usuario"/>
    <label for="usuario">Contraseña de curso:</label>
    <input id="password" type="password" value="inovejs" placeholder="contraseña"/>
    <button id="ingresar" path="{{url_for('bloglogin')}}" redirect="{{url_for('blog')}}">Identificarse</button>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>